html, h1 {
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Nunito Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; */
  /* background-color: blue; */
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

section {
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
}



i {
  margin-left: 10px;
  display: inline-block;

}

/* ========== HOME ========== */

#home {
  padding: 0;
  margin: 0;
  background-color: azure;
  background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  width: 100vw;
  /* height: 400vh; */
  background: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  /* background-color: yellow; */
  width: 100%;
  position: relative;
  top: 10%;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
}

p {

}





img {
  width: 100%;
  height: 100%;
}

.bio {
  width: 60%;
  position: relative;
  left: 20%;
  top: 45%;
  /* display: none; */
}

/* ========== SKILLS ========== */

#skills {
  background-color: rgb(221,	224, 223)
}

.title-skills {
  /* background-color: yellow; */
  width: 100%;
  position: relative;
  top: 5%;

}

.skills-sq {
  position: relative;
  top: 10%;
  /* background-color: red; */
}

.style_prevu_kit
{
    float: left;
    display:inline-block;
    border:0;
    width:46%;
    height:96%;
    margin: 2%;
    border-radius: 10px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
.style_prevu_kit:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}



.row-one {
  position: relative;
  height: 35vh;
  left: 10vw;
  width: 80vw;
  top: 15%;
  /* background-color: yellow; */
}
.row-two {
  position: relative;
  height: 35vh;
  left: 10vw;
  width: 80vw;
  top: 15%;
  /* background-color: red; */
}
.skills-heading {
  display: none;


}

.skill-icon {
  width: 15%;
  height: 15%;
  /* background-color: blue; */
  display: inline-block;

}

.skills-detail {
  /* display: none; */
}

/* ========== TECH-EXPERIENCE ========== */

#tech-experience {
  background-color: rgb(184,	201,	216	)
}

.experiences {
  padding: 25px;
  padding-top: 0px;
  text-align: left;
  position: relative;
  width: 70%;
  border: solid black 1px;
  border-radius: 10px;
  margin: 10px;
}

h3 {
  margin-bottom: 0;
}

ul {
  /* background-color: blue; */
  height: 30%;
  width: 45%;
  display: inline-block;
  position: relative;
  float: left;
}
li {
  /* background-color: red; */
  width: 100%;
}

#gtb {
  left: 5%;
  height: 50vh;
  background-color:rgb(247,	227,	213	);
}
#ga {
  left: 20%;
  height: 25vh;
  background-color:#FFE4E1;
}

/* ========== PERSONAL ========== */

#end {
  background-color: rgb(62,	91,	99)
}

#about {
  /* width: 50%; */
  height: 70vh;
  /* float: left; */

}

.logo {
  width: 20%;
  position: relative;
  left: 40%;
  top: 30%;
  margin-bottom: 3%;
}

.logo img {
  border-radius: 10px;

}

.center-div {
  position: relative;
  top: 30%;
  width: 80%;
  left: 10%;
}
#about .center-div {
  top: 15%;
}

.icons i{
  font-size: 30px;
}
.icons {
  display: inline-block;
}

#contact {
  /* width: 50%; */
  height: 30vh;
  /* float: left; */
}

/* ========== CONTACT ========== */

#contact {
  background-color: rgb(221,	224, 223)
}

/* ======== RESPONSIVE ======== */


@media (max-height: 680px), screen and (orientation: portrait) {

  body {
    font-size: 40px;
  }

}
